

<template>
  <div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="showDropdown" v-model="isCheckboxChecked">
      <label class="form-check-label" for="showDropdown">Show dropdown to select countries</label>
    </div>

    <div class="mt-3">
      <div class="custom-dropdown" v-if="isCheckboxChecked">
        <label for="country">Select a Country:</label>
        <select class="form-control text-left" id="country" v-model="selectedCountry">
          <option value="">-- Select Country --</option>
          <option v-for="country in countries" :key="country.code" :value="country.code">{{ country.name }}</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
//I'm using  axios we can use other library also

export default {
  data() {
    return {
      isCheckboxChecked: false,
      selectedCountry: '',
      countries: [],
    };
  },
  mounted() {
    // Make an API request to fetch the list of countries
    axios.get('https://restcountries.com/v3.1/all')
      .then(response => {
        this.countries = response.data.map(country => ({
          code: country.cca2,
          name: country.name.common,
        }));
      })
      .catch(error => {
        console.error('Error fetching country data:', error);
      });
  },
};
</script>
<style>
#app {
  max-width: 100%;
  margin-left: 20px;
  top: 0;
  position: absolute;
  margin-top: 100px;
}
</style>




